* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    ::-webkit-scrollbar {
        width: 6px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        // padding: 12px;
        background: #f3f3f3; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        border-radius: 0.125rem;
        background: rgb(199, 199, 199); 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(179, 179, 179); 
      }
}
p {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #ececec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


